.footer_div {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: #1e1e1e;
    cursor: default;
}

.footer_sakura {
    color: #56cc9d;
}

@media (max-width: 720px) {
    .footer_div {
        margin: 0;
        width: 100%;
        font-size: 11px;
        text-align: center;
    }
}