.MuiDrawer-paper::-webkit-scrollbar {
  display: none;
}
.side-list-item {
  text-decoration: none;
}
.main_content_cards {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}
@media (max-width: 720px) {
  .main_content_cards {
    grid-template-columns: 1fr;
  }
}

.MuiToolbar-root{
  display: flex;
  background-color: #1e1e1e;
  color: #b3d4fc;
}

.MuiToolbar-root>button{
  color: #b3d4fc;
}

.MuiButton-root:hover{
  border-bottom: 2px solid #56cc9d;
}

.Main-logo{
  margin-left: -15px;
  font-size: 25px;
  color:white;
}

.Sakura{
  color: #64b1f3;
}

.spring{
  color:white;
  float:right;
}

.drawer_logoname{
  font-size:15px;
}

.drawer_sakura{
  color: #56cc9d;
}

.drawer_project{
  color:whitesmoke;
}

.drawer_elements{
}
