@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,300,500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: radial-gradient(circle farthest-side, #1e1e1e, #292929);
  background: radial-gradient(circle farthest-side, #1e1e1e, #292929);
}
