@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,300,500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: radial-gradient(circle farthest-side, #1e1e1e, #292929);
  background: radial-gradient(circle farthest-side, #1e1e1e, #292929);
}

/*chrome and safari*/
body::-webkit-scrollbar {
  width: 1em;
  background-color: #000000;
}

body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  width: 1em;
  background: rgb(0, 0, 0);
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #00ccff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    #7f7fd5,
    #00ccff,
    #56cc9d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    #7f7fd5,
    #00ccff,
    #56cc9d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*for firefox*/
body {
  overflow-y: scroll;
  scrollbar-color: #00ccff black;
  scrollbar-width: auto;
}
