@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,300,500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
  
}
