.breadcrum {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #1e1e1e;
  align-items: center;
  font-size: 20px;
  color: white;
}
.breadcrum_content {
  margin-left: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #1e1e1e;
}
