.home_image {
  width: 100%;
}
.environment {
  display: flex;
  background: radial-gradient(circle farthest-side, #1e1e1e, #292929);
  width: 100%;
  justify-content: center;
  /* margin-top: 30px; */
  color: white;
  border-radius: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
