.environment {
  display: flex;
  background: radial-gradient(circle farthest-side, #1e1e1e, #292929);
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  color: white;
  border-radius: 10px;
}
.content {
  display: flex;
  text-align: justify;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  margin-left: 1%;
  margin-top: 2%;
  margin-right: 5%;
}
.loader {
    margin: auto;
}
.wrapper {
  width: 600px;
}
@media (max-width: 567px) {
  .wrapper {
    width: 300px;
  }
}
@media screen and (max-width: 770px) {
    li {
        margin-left: 0vh;
        font-size: 0.8em;
    }
    .syntax {
        margin-left: 0vh !important;
    }
}